<header class="header">
  <nav class="nav" id="nav-menu">
    <div class="nav__content bd-grid">
      <div class="nav__perfil">
        <div>
          <a href="#" class="nav__name">PhysioToHome</a>
        </div>
      </div>

      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link active">Home</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">About</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Skills</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Portfolio</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
