@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Serif+Pro:ital,wght@1,200&display=swap");
* {
  text-decoration: none;
  list-style: none;
  color: black;
}
.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #6cd5b2;
}
.nav__name {
  font-size: 25px;
  margin-left: 15px;
  /* font-family: serif; */
  /* color: black; */
  -webkit-text-fill-color: rgb(
    138,
    122,
    91
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  margin-right: 15px;
}
.nav__item {
  margin: 14px 4px 0px 4px;
}
.nav__item a {
  font-size: 20px;
  color: white;
}
.nav__item a:hover {
  border: 2px solid aqua;
  background: transparent;
  color: aqua;
  box-shadow: 0 2px 3px rgba(17, 15, 15, 0.404), 2px 1px 4px rgba(7, 4, 4, 0.3),
    2px 4px 3px rgba(4, 3, 85, 0.3), 0 0 7px 2px rgba(4, 113, 138, 0.2),
    inset 0 2px 3px rgba(20, 3, 3, 0.2), inset 2px 1px 4px rgba(24, 3, 3, 0.3),
    inset 2px 4px 3px rgba(9, 8, 95, 0.3),
    inset 0 0 7px 2px rgba(23, 132, 156, 0.2);
}

/* caurosel */
.carouse-container img {
  width: 100%;
  height: 480px;
}
.carouselSection {
  margin: 5px;
}

/* footer */
.footerSection {
  height: 240px;
  /* background-color:#4c957d */
  background-color: #41806b;
  bottom: 0px;
}
/* info */
.infoSection {
  text-align: center;
  font-weight: 400;
  height: 170px;
  width: 80%;
  margin:45px auto;
}
.infoTitle {
  font-family: "Pacifico", cursive;
  font-size: 40px;
}
.infoText {
  text-align: center;
  margin-top: 25px;
  letter-spacing: 1px;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
}

/* staff detail */
.StaffDetail{
    width: 80%;
    /* text-align: center; */
    align-items: center;
    /* border:2px solid #ccc; */
    margin: 0px auto;
}
.StaffDetail figure{
    width: 35%;
    text-align: center;
    
  font-family: "Source Serif Pro", serif;
  color:black;
  
  margin: 0 125px 20px 25px;
}
.StaffDetail img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border:1px solid black;
}
.staffElement{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.staffDiscription{
    letter-spacing: 1px;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
}